{% extends "layout.html" %}
{% block content %}
<div class="container-fluid px-0">
    <div class="row" style="max-height:100vh; overflow:hidden">
        <div class="col col-sm-12 col-md-auto col-lg-6 my-auto">
            <div class="container p-5">
                <div class="row">
                    <h1>The fun way to clean</h1>
                </div>
                <div class="row my-4">
                    <p>Bahay is a gamified to-do list for cleaning your home. Create cleaning tasks specific to your
                        household and win points whenever you complete a task. Compete against your roommates and keep your home clean in the process.</p>
                </div>
                <div class="row">
                        <div class="col">
                        <a href="{{ url_for('home') }}">
                            <button type="button" class="btn btn-bahay ml-4">Join Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-auto col-lg-6 px-0">
            <img src="/static/img/home.jpg" class="img-fluid">
        </div>
    </div>
</div>
{% endblock content%}