{% extends "layout.html" %}
{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col text-center">
            <div class="container my-3">
                <h2>{% if current_user.house %}{{ current_user.house.name }} {% else %}Welcome Home{% endif%}</h2>
            </div>
        </div>
    </div>
    {% if current_user.house %}
    <div class="row">
        <div class="col">
            <div class="container my-3">
                <h5>Household Members</h5>
                <div class="">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Points</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for user in current_user.house.users %}
                          <tr>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.points }} </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      Invite roommates with code: <span style="color:#097839; font-weight:600;">{{ current_user.house.code }}</span>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row p-4 row-cols-1 row-cols-md-2 g-5">
        <div class="col">
            <a href="{{ url_for('create_house') }}">
                <div class="card" style="max-height:250px;">
                    <div class="card-header pt-3 text-center">
                        <h5 class="card-title">Create a House</h5>
                    </div>
                    <img class="card-img-bottom" src="/static/img/house.png" alt="Card image cap">
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for('join_house') }}">
                <div class="card" style="max-height:250px;">
                    <div class="card-header pt-3 text-center">
                        <h5 class="card-title">Join a House</h5>
                    </div>
                    <img class="card-img-bottom" src="/static/img/welcome.jpg" alt="Card image cap">
                </div>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content%}